div.z-listbox {
  background: #f8f8f8; 
  border: 1px solid #bbb; 
  overflow: hidden; 
  zoom: 1;
}
tr.z-listitem {background-color: #08f8f8;}
tr.z-listitem td.z-listitem-focus {background-image: none;}
tr.z-listitem-seld {
  background-color: #84C5D6;
  border: none;
  -moz-box-shadow: 0 0 5px 2px #59ACC1 inset;
  -webkit-box-shadow: 0 0 5px 2px #59ACC1 inset;
  box-shadow: 0 0 5px 2px #59ACC1 inset;
  color: #59ACC1;
  text-shadow: 1px 1px 1px #E3F6F9;
}
tr.z-listitem-over {
  background-color: #84C5D6;
  border: none;
  color: #E3F6F9;
  cursor: pointer;
  text-shadow: 1px 1px 1px #59ACC1;
}
tr.z-listitem-over-seld {background: #84C5D6;}